@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100&family=Roboto+Mono:ital,wght@1,100&display=swap");

:root {
  --cor-primaria: #2c3639;
  --cor-segundaria: #a27b5c;
  --cor-terciaria: #dcd7c9;
  --cor-hover: #272727;

  --font-primaria: "Roboto Mono", monospace;
  --font-secundaria: "Raleway", sans-serif;
  --font-terciaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0%;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-segundaria);
  /*background linaer gradient*/
}

a {
  text-decoration: none;
  color: var(--cor-segundaria);
}

/*apresentação do cabeçalho*/

.cabecalho {
  padding: 5% 0% 0% 20%;
}

.cabecalho__menu {
  display: flex;
  gap: 40px;
}

.cabecalho__menu__link {
  font-family: var(--font-terciaria);
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--cor-segundaria);
}
/*Fim do cabeçalho
apresentação da pagina*/

.apresentacao {
  padding: 6% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 2.2rem;
  font-family: var(--font-primaria);
}

.destaque__titulo {
  color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo {
  font-size: 1.4rem;
  font-family: var(--font-terciaria);
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.apresentacao__link__titulo {
  font-family: var(--font-primaria);
  font-weight: 400;
}

.apresentacao__link__navegacao {
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 15px;
  gap: 5px;
  text-decoration: none;
  color: var(--cor-segundaria);
  font-family: "Montserrat", sans-serif;
  border: 2px solid var(--cor-segundaria);
}

.apresentacao__link__navegacao:hover {
  background-color: var(--cor-hover);
}

.apresentacao__imagem {
  background-color: var(--cor-segundaria);
  border-radius: 10px;
  padding: 5px 5px;
}

/* edição da pagina de hobbies e sobre mim*/
.apresentacao__conteudo__subtitulo {
  font-family: var(--font-primaria);
}

.apresentacao__hobbies {
  list-style-type: none;
  font-family: var(--font-terciaria);
  font-size: 1.4rem;
}

/*fim da pagina hobbies*/

.rodape {
  background-color: var(--cor-terciaria);
  text-align: center;
  font-family: var(--font-terciaria);
  font-size: 1.25rem;
  padding: 25px;
}

.apresentacao__link__certificado {
  text-decoration: none;
  color: var(--cor-segundaria);
  font-size: 1.25rem;
}

.apresentacao__listas {
  font-size: 1.25rem;
}

.apresentacao__icon {
  color: var(--cor-segundaria);
}

.apresentacao__table {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 25px 20px 15px 20px;
  padding: 8% 0 0 0;
}

th {
  margin: 5px;
  padding: 3px;
}

td {
  justify-content: center;
  padding: 3px;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.apresentacao__form {
  background-color: var(--cor-terciaria);
  border-radius: 15px;
  box-shadow: 0 4px 4px;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
}

.header {
  background-color: var(--cor-hover);
  padding: 15px;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 20px;
}

small {
  display: none;
}

small.active {
  display: block;
}

.form button {
  background-color: var(--cor-segundaria);
  border: 2px solid var(--cor-primaria);
  font-size: 14px;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
}
.form button:hover {
  background-color: var(--cor-hover);
}

@media (max-width: 1000px) {
  .cabecalho {
    padding: 10%;
  }

  .cabecalho__menu {
    justify-content: center;
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 6%;
  }

  .apresentacao__conteudo {
    width: auto;
  }
}
